.login {
    background-color: #F5F5F5;
}

.login-box {
    max-width: 120rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 9rem 0;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__title {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.login__camp,
.login__btn {
    width: 40%;
}

.login__camp {
    position: relative;
}

.login__camp.error .contact__error {
    color: red;
}

.login__input {
    padding: 1rem 1.2rem;
    width: 100%;
    height: 6rem;
    margin: 1.5rem 0;

    border: none;
    outline: none;
    border-radius: .4rem;
    box-shadow: 0 .1rem .1rem #A2A2A2;
}

.login__camp.error .login__input {
    border: .1rem solid red;
    border-radius: .4rem;
}

.login__btn-b {
    width: 100%;
    height: 100%;

    background-color: var(--principal);
    color: #FFFFFF;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .login__camp {
        width: 60%;
    }
    
    .login__btn {
        width: 30%;
    }

}

@media (max-width: 480px) {
    .login__camp {
        width: 80%;
    }
}