.newproduct-section {
    background-color: #f5f5f5;
}

.newproduct {
    max-width: 75rem;
    padding: 6.5rem;
    margin-left: auto;
    margin-right: auto;
}

.newproduct__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newproduct__title {
    align-self: flex-start;
    font-size: 3.2rem;
    font-weight: bold;
    color: #464646;
}

.newproduct__title,
.newproduct__field {
    margin-bottom: 1.6rem;
}

.new__product-file {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.newproduct__text,
.newproduct__option {
    margin: 0;
}

.newproduct__option {
    text-transform: uppercase;
}

.newproduct__img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2rem;
    flex-basis: 60%;

    background-color: #FFFFFF;
    border-style: dashed;
    border-color: #C8C8C8;
}

.newproduct__img {
    margin-bottom: 1.6rem;
}

.newproduct__btn-container {
    flex-basis: 40%;
}   

.newproduct__text {
    font-size: 1.4rem;
    color: #6B6B6B;  
    line-height: 1.5;
    text-align: center;
}

.newproduct__field {
    width: 100%;
}

.newproduct__input {
    width: 100%;
    padding: 1.5rem 1.2rem;
    border: none;
}

.new__product-msg {
    resize: none;
    height: 8rem;
}

.newproduct__sel {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.newproduct__btn {
    width: 100%;
}

.newproduct__btn-agree {
    width: 100%;
    color: #FFFFFF;
    background-color: var(--principal);
}

@media (max-width: 768px) {

    .newproduct {
        padding: 3.2rem;
    }

    .newproduct__title {
        font-size: 2.2rem;
    }

    .new__product-file {
        justify-content: flex-start;
    }

    .newproduct__img-container,
    .newproduct__btn-container {
        flex-basis: 40%;
    }

}

@media (max-width: 480px) {

    .newproduct__btn-container,
    .newproduct__option {
        display: none;
    }

    .newproduct__img-container {
        flex-basis: 100%;
    }
}